@keyframes firework-explode {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(2);
  }
}

@keyframes firework-check {
  0% {
    opacity: 0;
    stroke-dasharray: 0, 100;
  }

  100% {
    opacity: 1;
    stroke-dasharray: 100, 0;
  }
}

.fireworks-animation .firework-path {
  animation: firework-explode 2s ease-out forwards;
}

.fireworks-animation .firework-check {
  animation: firework-check 2s ease-out forwards;
}

/* Loading spinner styles */
.loader {
  border: 8px solid #f3f3f3;
  /* Light grey */
  border-top: 8px solid #f774aa;
  /* Pink */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
